.about_mt {
    background: linear-gradient(rgba(47, 59, 89, 0.75), rgba(47, 59, 89, 0.75)), url(../images/png/maintop_directionsBg.png);
    @include responsive (b-tablet) {
        background: linear-gradient(rgba(47, 59, 89, 0.75), rgba(47, 59, 89, 0.75)), url(../images/png/maintop_directionsBg_mobile.png);
        background-position: center;
    }
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.care {
    overflow: hidden;
    padding-top: 120px;
    margin-bottom: 120px;
    .container {
        display: flex;
        justify-content: space-between;
    }
    &__wrapper {
        position: relative;
        overflow-x: hidden;
        padding-top: 66px;
        width: 100%;
        max-width: 445px;
        h2 {
            margin-bottom: 24px;
        }
        p {
            margin-bottom: 40px;
        }
    }
    &__img {
        position: relative;
        width: 445px;
        height: 445px;
        img:first-child {
            border-radius: 50%;
        }
        &::after {
            content: "";
            position: absolute;
            width: 445px;
            height: 445px;
            background-color: $color-light-grey;
            border-radius: 50%;
            top: 0;
            right: -500px;
        }
    }
    &__pattern {
        position: absolute;
        z-index: 1;
        top: 300px;
        left: -100px;
    }
    @include responsive (mini-desktop) {
        .container {
            flex-direction: column-reverse;
            justify-content: center;
            align-items: center;
        }
        &__wrapper {
            text-align: center;
            max-width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            a {
                margin-right: auto;
                margin-left: auto;
            }
        }
    }
    @include responsive (mini-tablet) {
        &__img {
            width: 311px;
            height: 311px;
            img:first-child {
                width: 311px;
                height: 311px;
            }
            &::after {
                width: 311px;
                height: 311px;
                right: -600px;
            }
        }
        &__pattern {
            top: 170px;
            left: -10px;
        }
    }
}

.apply {
    margin-bottom: 14rem;
    @include responsive (b-tablet) {
        margin-bottom: 10rem;
    }
    &__div {
        padding: 32px 64px 35px 40px;
        background-color: $color-snow;
        margin-bottom: 24px;
        display: flex;
        justify-content: space-between;
        @include responsive (smaller-tablet) {
            justify-content: center;
            align-items: center;
            text-align: center;
            flex-direction: column;
            h4 {
                font-size: 1.8rem;
                line-height: 2.4rem;
            }
            p {
                margin-bottom: 16px;
            }
        }
    }
}