//colors
$color-yellow:#FCB72B;
$color-dark-navy:#495567;
$color-dim-grey: #939CAA;
$color-light-grey: #E5ECF4;
$color-snow: #F2F5F9;
$color-light-yellow: #FFF4DF;
$color-white: #fff;
//font family
$font-family-space-mono: "Space Mono";
$font-family-lexend-deca: "Lexend Deca";